{% extends 'shared/base.html' %}

{% block content %}
<h1>Departments</h1>
    <ol>
    {% for department in all_departments %}
        {% comment %} <a href="{% url 'hrapp:departments' department.id %}"> {% endcomment %}
        <li>Department Name:{{ department.name }}</li>
        {% comment %} </a> {% endcomment %}
        <li>Department Budget: {{ department.budget }}</li>
        {% comment %} <li>{{department.number}}</li> {% endcomment %}
    {% endfor %}
    </ol>
{% endblock content %}