{% extends 'shared/base.html' %}

{% block content %}
<h1>Departments</h1>
    
    {% for department in all_departments %}
        {% comment %} <a href="{% url 'hrapp:departments' department.id %}"> {% endcomment %}
        <h2>Department Name:{{ department.name }}</h2>
        {% comment %} </a> {% endcomment %}
        <p>Department Budget: {{ department.budget }}</p>
        <br>
        {% comment %} <li>{{department.number}}</li> {% endcomment %}
  
    {% endfor %}
{% endblock content %}