{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee</title>
  </head>
  <body>
    <h1>{{ employee.last_name }}, {{ employee.first_name }}</h1>
    <div>{{ employee.start_date }}</div>
    <div>{{ employee.is_supervisor }}</div>
    <div>{{ employee.department_id }}</div>
    <section>
      <form action="{% url 'hrapp:edit_employee_form' employee.id %}" method="GET">
          {% csrf_token %}
          <button>Edit</button>
      </form>
    </section>
  </body>
</html>